<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    failOnWarning="true"
    failOnRisky="true"
    failOnNotice="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    requireCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="core">
            <directory>core/tests</directory>
            <exclude>core/tests/Fixtures</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>core/src</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="clover.xml" />
            <html outputDirectory="coverage" />
            <text outputFile="php://stdout" showOnlySummary="true" />
        </report>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="On" />
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>
